body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  padding: 20px 80px;
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

* {
  box-sizing: border-box;
}
